<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="cn.itrip.dao"/>
	</bean>
	<bean class="org.apache.commons.dbcp.BasicDataSource" id="dataSource">
		<property name="password" value="123456"/>
		<property name="username" value="root"/>
		<property name="url" value="jdbc:mysql:///itripdb?serverTimezone=Asia/Shanghai"/>
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
	</bean>
	<context:component-scan base-package="cn.itrip.biz.service"/>
	<bean class="redis.clients.jedis.JedisPool" id="jedisPool">
		<constructor-arg name="host" value="127.0.0.1"/>
	</bean>
	<bean class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<import resource="applicationContext-util.xml"/>
</beans>