<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="cn.itrip.common"/>
<bean class="org.springframework.mail.javamail.JavaMailSenderImpl">
    <property name="password" value="222d6a2616"/>
    <property name="username" value="2714403672@qq.com"/>
    <property name="host" value="127.0.0.1"/>
</bean>

</beans>